body{
    margin: 0;
    padding: 0;
}
.box{
    padding: 25px;
    width: 300px;
    background-color: rgb(119, 119, 182);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}
.screen{
    display: flex;
    justify-content: space-between;
}

.todolist{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add{
    width: 80px;
    border-radius: 50px;
    background-color: rgb(62, 62, 158);
    color: white;
    font-weight: bolder;
}

#dis{
    border-radius: 50px;
    padding-left: 10px;
}

.box button{
    width: 80px;
    border-radius: 50px;
    background-color: rgb(62, 62, 158);
    color: white;
    font-weight: bolder;
}

.box span{
    width: 80px;
    color: white;
    font-weight: bolder;
}